.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/fundo_confete.png);

    &__happyBday {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}